
<div class="restaurants">
  <ul class="list-unstyled">
      <% @restaurants.each do |restaurant| %>
        <li class='fs-3 fw-bold text-reset'><%= link_to restaurant.name, restaurant_path(restaurant), class: 'text-decoration-none' %></li></h3>
        <li> <%= restaurant.category %></li>
      <% end %>
  </ul>
</div>
